<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "sidebar.html" . }}
  <div id="_layout">
    <button id="_nav-toggle" aria-label="Toggle navigation" aria-expanded="false" aria-controls="_coverpage">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ib-router content-selector="#_content"></ib-router>
    <main id="_content">
      {{ block "main" . }}{{ end }}
    </main>
    <footer id="_footer">
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
