.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.photo-sides {
  display:flex;
  flex-direction: row;
  width: 80%;
  gap: 1em;

  img {
    display: inline-block;
    height:100%;
    width: auto;
  }
}

@media (max-width: 1200px)
{
  .photo-sides {
    flex-direction: column;
  }
}