{% assign post = page %}

{% if page.related_posts %}
  {% assign related_posts = site.posts | where_exp:"post", "page.related_posts contains post.path" %}
{% elsif site.hydejack.use_lsi or site.use_lsi %}
  {% assign related_posts = site.related_posts %}
{% elsif post.categories.first %}
  {% assign related_posts = site.categories[post.categories.first] | where_exp:"post", "post.url != page.url" %}
{% elsif post.tags.first %}
  {% assign related_posts = site.tags[post.tags.first] | where_exp:"post", "post.url != page.url" %}
{% else %}
  {% assign related_posts = site.related_posts %}
{% endif %}

{% if related_posts.size > 0 %}
<aside class="other-projects related mb0" role="complementary">
  <h2>{{ site.data.strings.related_posts | default:"Related Posts" }}</h2>
  <div class="columns">
    {% for post in related_posts limit:2 %}
      <div class="column column-1-2">
        {% include_cached pro/post-card.html post=post %}
      </div>
    {% endfor %}
  </div>
</aside>
{% endif %}
