{{- $ogImage := "" -}}
{{- $ogWidth := 1200 -}}
{{- if .IsPage -}}
  {{- with .Resources.GetMatch "cover.*" -}}
    {{- if ge .Width $ogWidth -}}
      {{- $ogImage = .Resize (printf "%dx" $ogWidth) -}}
    {{- else -}}
      {{- $ogImage = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if not $ogImage -}}
  {{- $ogImage = site.Params.og_image -}}
{{- end -}}

{{- if $ogImage -}}
<meta property="og:image" content="{{ $ogImage.RelPermalink | absURL }}">
<meta property="og:image:width" content="{{ $ogWidth }}">
<meta name="twitter:image" content="{{ $ogImage.RelPermalink | absURL }}">
{{- end -}}
